<!DOCTYPE html>
<%= content_tag :html, class: 'no-js', **(try(:html_tag_attributes) || {}) do %>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= render partial: 'shared/analytics' %>
    <title><%= h(@page_title || application_name.to_s) %></title>
    <link href="<%= current_exhibit ? spotlight.opensearch_exhibit_catalog_url(current_exhibit, format: 'xml') : main_app.opensearch_catalog_url(format: 'xml') %>" title="<%= h(@page_title || application_name.to_str) %>" type="application/opensearchdescription+xml" rel="search"/>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= themed_stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= content_for(:head) %>
    <%= description %>
    <%= twitter_card %>
    <%= opengraph %>
    <%= javascript_tag '$.fx.off = true;' if Rails.env.test? %>
  </head>
  <body class="<%= render_body_class %>">
    <%= render partial: 'shared/body_preamble' %>
    <div id="skip-link">
      <% if should_render_spotlight_search_bar? %>
        <%= link_to t('blacklight.skip_links.search_field'), '#search_field', class: 'element-invisible element-focusable rounded-bottom py-2 px-3', data: { turbolinks: 'false' } %>
      <% end %>
      <%= link_to t('blacklight.skip_links.main_content'), '#main-container', class: 'element-invisible element-focusable rounded-bottom py-2 px-3', data: { turbolinks: 'false' } %>
      <%= content_for(:skip_links) %>
    </div>

    <%= render_themed_partial "shared/header_navbar" %>
    <%= render partial: 'shared/masthead' %>

    <%= content_for?(:header_content) ? yield(:header_content) : "" %>

    <main id="main-container" class="<%= container_classes %>" role="main" aria-label="<%= t('blacklight.main.aria.main_container') %>">
      <%= content_for(:container_header) %>

      <%= render partial: 'shared/flash_msg', layout: 'shared/flash_messages' %>

      <div class="row">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
    </main>

    <%= render_themed_partial "shared/footer" %>
    <%= render partial: 'shared/modal' %>
  </body>
<% end %>
